/* quickslide.css */
/* general style changed to default html tags */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: 'Roboto Slab', serif;
  background-color: #F2F1EC;
  color: #333;
}


body {
  /* for vertical centering */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
h1 {
  font-family: 'Oswald', sans-serif;
}

/* custom ui styles */
#slideshow {
  margin: 0 auto;
  width: 50%;
  margin-top: -50px;
  padding-top: 50px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#input {
  position: fixed;
  height: 100%;
  bottom: -55px;
  left: -145px;
  width: 150px;
  background-color: #333;
  color: white;
  transition: all 0.25s ease;
}
#input:hover, #input:focus{
  left: 0px;
}
#controls {
  position: fixed;
  bottom: -50px;
  width: 100%;
  height: 10px;
  line-height: 50px;
  text-align: center;

  background-color: #333;
  color: white;

  transition: all 0.25s ease;
}

#controls:hover {
  height: 50px;
}

.button {
  border: 0;
  border-radius: 3px;
  background-color: white;
  font-family: inherit;
}
.file-button {
  font-family: inherit;
  font-size: 8pt;
}

/* slideshow stylings */
.fragment, .numberedFragment {
  opacity: 0;
  transition: all 0.25s linear;
}

/* gets added to revealed fragments */
.revealed {
  opacity: 1;
}
